.header 
{
  border-bottom: 3px solid #555E6D;
  position: fixed;
  z-index: 2;
  background: white;
}

.mobileHeader
{
  display: none;
  border: 1px solid black;
}

div.default:hover
{
  cursor: pointer;
}

.form-group
{
  position: relative;
}

.staticForm label.error, .modalForm label.error
{
  position: absolute;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border: 2px solid rgb(105, 10, 10);
  border-radius: 5px 5px 5px 5px;
  background: #D52B1E;
  padding: 3px;
  font-weight: bolder;
  color: white;
  opacity: 0.9;
}


#phone-error
{
  top: 3px;
  right: 3px;
}

#email-error
{
  top: 3px;
  right: 3px;
}

.header .logo 
{
  text-align: center;
  padding-top: 15px;
}

.header .textinfo 
{
  padding-top: 15px;
  font-size: 15px;
}

.header .textinfo span 
{
  font-weight: bolder;
  color: #FF6400;
}

.header .btnorder 
{
  padding-top: 15px;
  text-align: center;
}

button.default
{
  display: inline-block;
  white-space: nowrap;
  margin: 1em;
  max-height: 75px;
  font-size: 20px;
  text-decoration: underline;
  font-weight: bolder;
  border-radius: 0px 0px 0px 0px;
  background-color: #FF6400;
}

.header .contacts 
{
  white-space: nowrap;
  padding-top: 15px;
  font-size: 20px;
  font-weight: bolder;
}

.header .contacts img 
{
  margin: 5px;
}

.header .contacts > .email 
{
  text-decoration: underline;
  font-weight: normal;
}

.blockOne 
{
  padding-top: 140px;
  position: relative;
  background: url('/images/fonbanner.png');
  height: 100%;
}

.blockOne .whiteheader 
{
  white-space: nowrap;
  display: inline-block;
  padding: 10px;
  margin: 40px 0px 0px 0px;
  background-color: white;
  font-size: 40px;
  font-weight: bolder;
  color: #555E6D;
  position: relative;
  z-index: 1;
}

.blockOne .blueheader 
{
  white-space: nowrap;
  display: inline-block;
  padding: 10px;
  margin: 0px;
  background-color: #555E6D;
  font-size: 40px;
  color: white;
  font-weight: bolder;
  position: relative;
  z-index: 1;
}

.blockOne .imgfield img
{
  max-width: 100%;
  margin: 70px 0px 0px 0px;
  position: relative;
  z-index: 0;
}

.blockOne .textfield 
{
  padding: 30px 40px;
}

.blockOne .textfield img 
{
  margin-right: 13px;
  float: left;
}

.blockOne .textfield span.orange 
{
  color: #FF6400; 
  font-weight: bolder;
}

.blockTwo 
{
  padding-top: 60px;
  text-align: center;
}

.blockTwo h1 
{
  margin: 0;
}

.blockTwo span.orange 
{
  color: #FF6400;
}

.blockTwo .field 
{
  margin: 20px 0px 20px 0px;
}

.blockTwo .field h6 
{
  text-align: left;
}

.blockTwo .field .textfield 
{
  text-align: left;
}

.blockTwo .field > img 
{
  margin: 15px;
  padding: 10px;
  float: left;
}

.blockThree 
{
  background: #E0E0E0;
  text-align: center;
}

.blockThree h1 
{
  padding: 30px;
}

.blockThree span.orange 
{
  color: #FF6400;
}

.blockThree .field 
{
  background: white;
  padding: 30px;
  border: 10px solid #E0E0E0;
}

.blockThreeA 
{
  text-align: center;
}

.blockFour h1 
{
  text-align: center;
  padding: 30px;
}

.blockFour span.orange 
{
  color: #FF6400;
}

.blockFour .fieldwrapper 
{
  text-align: center;
  padding: 0;
  margin: 0;
  border: 4px solid white;
}

.blockFour .fieldwrapper > div 
{
  border: 1px solid #E0E0E0;
}

.blockFour button.default 
{
  margin: 0;
  width: 100%;
}

.blockFour div.default
{
  display: inline-block;
  white-space: nowrap;
  max-height: 75px;
  font-size: 20px;
  text-decoration: underline;
  font-weight: bolder;
  border-radius: 0px 0px 0px 0px;
  background-color: #FF6400;
  margin: 0;
  width: 100%;
}

.blockFour .textfield
{
  font-size: 14px;
}

.blockFive 
{
  text-align: center;
  background: url('/images/fon-forma.png');
}

.blockFive h1 
{
  padding: 20px;
}

.blockFive span.orange 
{
  color: #FF6400;
}

.blockFive .imgfield > img 
{
  max-width: 100%;
}

.blockSix h1 
{
  padding: 100px 20px 20px 0px;
}

.blockSix .contactsfield 
{
  color: #5E6374;
  position: relative;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 1;
}

.blockSix .mapfield
{
  padding: 0;
  margin: 0;
}

.blockSix .contacts 
{
    white-space: nowrap;
    font-size: 23px;
    font-weight: bolder;
}

.blockSix img 
{
    margin: 10px;
}

.blockSeven 
{
    border: 1px solid black;
    background: #555E6D;
    padding: 20px;
}

.blockSeven .logofield 
{
    text-align: center;
}

.blockSeven .textfield
{
    color: #FFFFFF;
}

.blockSeven .textfield span 
{
    font-weight: bolder;
}

.blockSeven .buttonfield
{
    text-align: center;
}

.blockSeven .contactsfield
{
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 20px;
}

.modal-header
{
  background: #FF6400;
  color: white;
  font-weight: bolder;
}

.modal-title
{
  font-size: 25px;
}

.modal-body 
{
  text-align: center;
}

@media screen and (max-width: 768px) 
{
  .mobileHeader
  {
    display: block;
    position: fixed;
    background: white;
    z-index: 3;
  }

  .header
  {
    position: static;
    display: none;
  }

  .header .contacts 
  {
    text-align: left;
  }

  .blockOne .blueheader 
  {
      white-space: normal;
  }

  .blockOne h1 
  {
      margin: 2em;
  }

  .blockOne .imgfield img
  {
    display: none;
  }

  .blockOne .whiteheader 
  {
    white-space: normal;
  }

  .blockOne .imgfield 
  {
    display: none;
  }

  .blockOne .textfield
  {
    display: none;
  }

  .blockOne .buttonfield
  {
    text-align: center;
  }

  .blockTwo .field 
  {
    margin: 0;
  }

  .blockTwo .field > img 
  {
    float: none;
  }

  .blockTwo .field h6
  {
    text-align: center;
  }

  .blockSix .contactsfield
  {
    padding: 20px
  }

  .blockSix h1
  {
      padding: 20px;
      text-align: center;
  }

  .blockSeven .textfield
  {
    padding: 20px;
    text-align: center;
  }

   .blockSeven .contactsfield
   {
     padding: 20px;
   }

  button.default, div.default
  {
    font-size: 110%;
  }
}